<a href="https://colab.research.google.com/github/rishi1218/SCMS_practical_class/blob/main/SCMS_practical_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
data = "/content/employees.csv"

In [ ]:
df = pd.read_csv(data ,dtype={'EMPLOYEE_ID':str,'MANAGER_ID':str})

In [ ]:
df['Salary_ranking'] = df['SALARY'].rank(method='dense',ascending=False)

In [ ]:
max(df['SALARY'])

In [ ]:
df[df['EMPLOYEE_ID']==101]

In [ ]:
# second highest salary

In [ ]:
df.loc[df['Salary_ranking']==2,'SALARY']

In [ ]:
df.info()

In [ ]:
df = df.merge(df,left_on='MANAGER_ID',right_on='EMPLOYEE_ID',suffixes=('','_manager'))
df["manager_name"] = df["FIRST_NAME"] + " " + df["LAST_NAME"]
df.columns

In [ ]:
df = df.sort_values(by='EMPLOYEE_ID',ascending=True)

In [ ]:
df[['EMPLOYEE_ID','FIRST_NAME','MANAGER_ID_manager','FIRST_NAME_manager_manager']]